html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

* {
    font-family: 'Courier New', Courier, monospace;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#noscript {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-container {
    height: 100%;
    width: 100vw;
    display: flex;
}

#game-container > div {
    outline: 1px solid black;
}

#cookie-container {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cookie-container * {
    text-align: center;
}

#cookie-container h2, #cookie-container h3 {
    margin: 0;
}

#middle-container {
    width: calc(100% / 3);
    height: 100%;
}

#buy-container {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

#cookie-image:hover {
    cursor: pointer;
    animation: cookie-enlarge 100ms forwards;
}

#cookie-image:active {
    animation: cookie-click 100ms forwards;
}

.item-buy-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 3px solid black;
    border-left-width: 0px;
    border-right-width: 0px;
    cursor: pointer;
    height: 70px;
}

.item-info-container {
    display: flex;
    width: 80%;
}

.item-info-container > img {
    height: 100%;
}

.item-amount-container {
    width: 20%;
    text-align: right;
}

.item-name-and-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-name-and-price-container > * {
    margin: 0;
}

.item-amount-container > h1 {
    margin-right: 10px;
}

.item-buy-container.not-affordable {
    background-color: gray;
    cursor: not-allowed;
}

#added-cookies-from-click > h2 {
    margin: 0;
}

.added-cookies-from-click-message {
    animation: added-cookies-from-click-message 1500ms forwards;
    pointer-events: none;
}

#buy-upgrades-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    min-height: 100px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: auto;
}

#buy-multiplier-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

#buy-multiplier-container > h3 {
    margin: 0px;
    cursor: pointer;
}

.selected-multiplier {
    color: green;
}

#extra-cps-amount {
    height: 22px;
}

button.dangerous {
    background-color: black;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 20pt;
    font-weight: bold;
    cursor: pointer;
}

.upgrade-item {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.upgrade-item.not-affordable {
    cursor: not-allowed;
    background-color: gray;
}

#upgrade-info-container {
    outline: 2px solid black;
    width: 500px;
    background-color: white;
}

#upgrade-name-and-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#upgrade-quote {
    float: right;
}

@keyframes cookie-click {
    100% {
        transform: scale(0.95);
    }
}

@keyframes cookie-enlarge {
    100% {
        transform: scale(1.05);
    }
}

@keyframes added-cookies-from-click-message {
    30% {
        opacity: 1;
    }
    70% {
        opacity: 0.3;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(-175px);
    }
}

@keyframes fade-in-and-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}